*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
 font-family:'Times New Roman', Times, serif ;   
}

body{
  background:whitesmoke;
}

.wrap{
  display: flex;
  position: relative;
}

.wrap .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
 
  padding: 60px 0;
}
.wrap .sidebar h1{
  
  margin-bottom: 40px;

}

.wrap .sidebar ul li{
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0,0.5);
  border-top: 1px solid rgba(225, 225, 225,0.5);
}
.wrap .sidebar ul li a{
  color: rgb(5, 4, 4);
  display: block;
}

.wrap .sidebar ul li:hover{
  background: rgb(151, 148, 148);
}

.wrap .main-content{
  width: 100%;
  margin-left:200px ;

}

.wrap .main-content .header{
  padding: 20px;
  background: rgb(0, 0, 0);
  color: rgb(250, 246, 246);
  border-bottom: 1px solid #e0e4e8;
  width: 100%;
  height: 170px;
  
}

.wrap .main-content .info{
  margin: 20px;
  color: black;
  line-height: 2opx;

}
#point{
  color: rgb(0, 0, 0);
  margin: 20px
}

.wrap .main-content .info div{
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
}

.footer{ 
  background-color: rgb(78, 68, 68);
  width: 100%;
  height: 90px;
  z-index: -4px;
}

.footerp{
  text-align: center;
  color: aliceblue;
  margin-top: 20px;
  align-items: center;
  padding: 30px;
}

.welcome{
  padding: 1px;
  font-size: 50px;
  overflow: hidden;
  text-align: center;
  margin-top: 10px;
}

.img2{
  width: 80px;
  height: 80px;
  padding: 0px;
  float: left;
}