*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;

}

body{
    min-height: 1000px;
}

/*banner styling*/

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(picture/p1.jpg);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h1{
    font-size: 5rem;
    color: rgb(110, 72, 11);
    text-shadow: 3px 2px 5px rgb(255, 255, 255) ;
}

.banner .content p{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.btn{
font-size: 2rem;
color: rgb(255, 255, 255);
background: black;
text-decoration: none;
display: inline-block;
padding: 10px 30px;
margin-top:20px;
letter-spacing:2px;
transition:0.5s;
}

.btn:hover{
    letter-spacing: 6px;
    border-radius: 20px;
    color: chartreuse;
}


/*header styling*/
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:0.5s;

}
/*nav sticky styling*/
header.sticky{
    background: rgb(223, 163, 85);
    padding: 30px 100px;
    box-shadow: 0 5px 20px rgb(0, 0, 0,0.05);

}



header .logo{
    color: rgb(247, 6, 6);
    font-weight: 200px;
    font-size: 1rem;
    text-decoration: none;
}


header.sticky .logo{
color: rgb(0, 64, 255);
}

/*heder navigation*/
header .navigation{
    position: relative;
    display: flex;

}

header .navigation li{
    list-style: none;
    margin-left: 40px;
}

header .navigation li a{
    text-decoration: none;
    color: rgb(110, 72, 11);
    font-weight: 300px;
    font-size: 30px;
    text-shadow: 1px 2px 5px rgb(255, 255, 255) ;
}

header .navigation li a:hover{
color: rgb(238, 9, 9);
}



/*header .navigation li a sticky color*/
header.sticky .navigation li a{
color: rgb(0, 0, 0);
}

header.sticky .navigation li a:hover{
    color: rgb(6, 247, 26);
    }



    /*about styling */

    section{
        padding: 100px;
    }

  
/*row styling for about*/
    .row{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .row .col50{
        position: relative;
        width: 48%;

    }
/*titletext styling*/
    .titletext{
color:rgb(107, 8, 28) ;
font-size: 2rem;
font-weight: 300;

    }


 .row .col50 .imgbx{
position: relative;
width: 100%;
min-height:300px ;
    }
/*about image*/
    .row .col50 .imgbx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
       
}

 /*product styling */

/*content styling*/
 .products .content{
     display: flex;
     justify-content: center;
     flex-direction: row-reverse;
     flex-wrap: wrap;
     margin-top: 40px;
 }

 /* image box stying*/

.products .content .box{
width: 340px;
margin: 20px;
box-shadow: 0 5px 35px rgb(0, 0, 0,0.8);
}

 .title{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .products .content .box .img8x{
     position: relative;
     width: 100%;
     height: 300px;
     resize: 30%;
 }

 .products .content .box .img8x img{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .products .content .box .text{
padding: 15px;
background: rgb(138, 65, 6);
color: rgb(128, 8, 28);
 }

 .products .content .box .text h3{
    font-weight: 400px;
    color: rgb(218, 224, 217);
     }
.products .content .box .text h3:hover{
   color: rgb(204, 6, 6);
 }

.testimonial{
    background-image: url(picture/p1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.titlewhite .titletext,

.titlewhite p
{
color: rgb(65, 11, 11);

}

.testimonial .content{
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
margin-top: 40px;
}
.testimonial .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: rgb(250, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .testimonial .content .box:hover{
        
        background: rgb(236, 135, 52);
        
        }

    .testimonial .content .box .img8x{
        position: relative;
        height: 80px;
        width: 80px;
        margin-bottom: 20px;
        border-radius: 40px;
        overflow: hidden;

        }
        .testimonial .content .box .img8x img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            
            }
            .testimonial .content .box .text{
               text-align: center;
                
                }
                .testimonial .content .box .text p{
                   font-style: italic;
                    
                     
                     }
                     .testimonial .content .box .text
                     h3{
                        color: rgb(19, 129, 5);
                        margin-top: 20px;
                        font-size: 1rem;
                        font-weight: 600;
                        text-align: center;
                 }

             
    .Contact{
      background-image:url(picture/img61.png) ;
      background-position: center;
      background-repeat: no-repeat;
    
    }

    .contactform{
        padding: 75px 30px;
        background: rgb(110, 72, 11);
        box-shadow: 0 15px 50px rgba(0, 9, 0,0.05);
        max-width: 500px;
        margin-top: 50px;

    }

    .contactform h3{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;

    }
    .contactform .inputbox{
        position: relative;
        width: 100%;
        margin-bottom: 20px;

    }
    .contactform .inputbox input,
    .contactform .inputbox textarea{
       
width: 100%;
border: 1px solid #555;
padding: 10px;
outline: none;
font-size: 16px;
font-weight: 300;
resize: none;

    }
    
.contactform .inputbox input[type="submit"]{
    font-size: 1em;
    color: white;
    background: black;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    max-width: 100px;
    transition: 0.5s;
    border: none;
    cursor: pointer;

}

.contactform .inputbox input[type="submit"]:hover{
    font-size: 1em;
    color: rgb(0, 0, 0);
    background: rgb(3, 235, 243);
    border-radius: 10px;

}

/*footer section*/
.copyright-text{
padding: 8px 40px;
border-top: 1px solid rgba(0, 0, 0,0.1);
text-align: center;
background: gray;
height: 80px;

}

.copyright-text p{
    color: black;
    margin-top: 30px;

}

.copyright-text a{
    color: chartreuse;
    text-decoration: none;
}

@media (max-width: 991px){
    header,
    header .sticky{
        padding: 10px 20px;
    }
    header  .navigation{
        display: none;
    }

    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgb(250, 249, 247);
    }
    header .navigation li{
        margin-left: 0;
        padding: 10px;
    }
    .menuToggle{
        position: relative;
        width: 90px;
        height: 90px;
        background-image: url(picture/toggle.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuToggle.active{
        background-image: url(picture/close.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    header.sticky .menuToggle{
        filter: invert(1);
    }
    section {
        padding: 20px;
    }

    .banner .content h1 {
        font-size: 3rem;
        color: rgb(110, 72, 11);
        text-shadow: 3px 2px 5px rgb(255 255 255);
    }

    .row {
      
        flex-direction: column;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgbx {
 
        height: 300px;
        margin-top: 40px;
    }
    .products .content {

        margin-top: 20px;
    }
    p {
       
        font-size: 13px;
    }

    .products .content .box .img8x {
        
        height: 260px;
   
    }
    .btn {
        font-size: 1rem;
        
    }
    .testimonial .content .box {
        padding: 20px;
     margin: 10px;
    }
    .Contact {
       background: wheat;
    }
    
}

    





































p{
    font-weight: 300px;
    color: rgb(82, 22, 4);
}
